In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
a = [1,2,3,4]
b = [6,7,8,9]

In [3]:
c = a.append(b)

In [4]:
c

In [5]:
print(a)

[1, 2, 3, 4, [6, 7, 8, 9]]

In [6]:
print(c)

None

In [7]:
print(b)

[6, 7, 8, 9]

In [8]:
print(c)

None

In [12]:
#importing the data set

fuel = pd.read_csv('fuell.csv')

In [13]:
fuel.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [14]:
fuel.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [16]:
fuel2 = fuel.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.agg(['mean'])

In [17]:
fuel2

                            mean
fuel_type_code_pudl
coal                   67.421830
gas                    13.659397
nuclear              4955.157002
oil                   168.877086
other                  18.253856
waste                  19.518122

In [19]:
fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
fuel.shape

(29523, 11)

In [22]:
fuel.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [44]:
fuel_year_1998 = fuel[fuel.report_year==1998]

In [45]:
fuel_year_1998.fuel_cost_per_unit_burned.mean()

126.68351942186098

In [46]:
fuel_year_1994 = fuel[fuel.report_year==1994]

In [47]:
fuel_year_1994.fuel_cost_per_unit_burned.mean()

213.19199595141708

In [31]:
fuel_high_cost = fuel.groupby('report_year').fuel_cost_per_unit_delivered.agg(['mean'])

In [32]:
fuel_high_cost

                     mean
report_year
1994            63.636060
1995            32.735269
1996          9196.705948
1997         11140.197239
1998           287.154420
1999            25.551627
2000           985.362877
2001            60.050396
2002            47.594361
2003            55.663493
2004           139.524275
2005            41.438184
2006            38.657484
2007            43.325023
2008            58.588197
2009           652.694163
2010            91.862105
2011            59.774667
2012            60.994502
2013           172.307591
2014           192.737183
2015           326.535511
2016           103.901761
2017            46.196861
2018           499.269966

In [33]:
fuel_energy = fuel.fuel_mmbtu_per_unit.describe()

In [34]:
fuel_energy

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [38]:
 fuel_mmbtu_per_unit = np.std(fuel.fuel_mmbtu_per_unit)

In [39]:
fuel_mmbtu_per_unit

10.600040781504145

In [48]:
fuel.skew(axis = 0, skipna = True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64