<h1> Project Titile - Web Scrapping - Real Estate </h1>
<p> The project focuses on extracting the properties information from each page of a Real Estate website (www.propertypro.ng) using BeautifulSoup Package and saves it on CSV. </p>

In [1]:
# importing required libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from time import sleep

In [2]:
# target URL to scrap

url = 'https://www.propertypro.ng/property-for-rent/in/lagos'

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Mobile Safari/537.36'}

In [4]:
# send request to download the data

r = requests.get(url, headers= headers)

In [5]:
#confirming the requests status

r.status_code

200

In [6]:
# parse the downloaded data

soup = BeautifulSoup(r.text,'html.parser')

# Location

In [8]:
#storing the features:

locations = soup.select('.single-room-text > h4')

In [9]:
#confirming the length of location features

len(locations)

21

In [10]:
locations[1]

In [11]:
#fixing all loaction into a list

all_location = []

for i in locations:
    location = i.get_text().split()
    location = location[-2]
    location = location.replace(',', '')
    all_location.append(location)

In [12]:
#confirming data inside list

all_location

['Island',
 'Ikoyi',
 'Ikeja',
 'Lekki',
 'Ikoyi',
 'Lekki',
 'Lekki',
 'Ojodu',
 'Isolo',
 'Sangotedo',
 'Isolo',
 'Isolo',
 'Isolo',
 'Isolo',
 'Isolo',
 'Lekki',
 'Ikeja',
 'Ikosi',
 'Ikosi',
 'Ikeja',
 'Ikeja']

In [13]:
len(all_location)

21

# Toilet, Bedroom and Bathroom

In [14]:
#storing the features:

facilities = soup.select('.fur-areea > span')

In [15]:
#confirming the length of all facilities

len(facilities)

63

In [34]:
#finding out the arrangement of content in the list

facilities[3].text

'3 beds'

In [41]:
#fixing all bedrooms, bathrooms and toilets into a list

all_bedroom = []
all_bathroom = []
all_toilet = []

for i, a in enumerate(facilities):
    if i in range(2,63,3):
        a = a.get_text().split()
        toilet = a[0]
        all_toilet.append(toilet)
    elif i in range(1,63,3):
        a = a.get_text().split()
        bathroom = a[0]
        all_bathroom.append(bathroom)
    elif i in range (0,63,3):
        a = a.get_text().split()
        bedroom = a[0]
        all_bedroom.append(bedroom)

In [36]:
all_toilet

['4',
 '4',
 '4',
 '4',
 '5',
 '5',
 '4',
 '2',
 '4',
 '3',
 '4',
 '4',
 '0',
 '0',
 '0',
 '5',
 'Toilets',
 '3',
 '2',
 '5',
 '5']

In [37]:
len(all_toilet)

21

In [38]:
all_bathroom

['3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '3',
 '1',
 '3',
 '3',
 '3',
 '3',
 '0',
 '0',
 '0',
 '4',
 'baths',
 '3',
 '1',
 '4',
 '4']

In [42]:
len(all_bathroom)

21

In [43]:
all_bedroom

['3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '3',
 '1',
 '3',
 '4',
 '3',
 '3',
 '0',
 '0',
 '0',
 '4',
 'beds',
 '3',
 '1',
 '4',
 '4']

# Prices

In [44]:
#storing the features

prices = soup.select('.n50 > h3 > span')

In [45]:
#confirming the length of prices features

len(prices)

42

In [46]:
prices[2]

In [47]:
# fixing all the prices data into a list

all_price = []

for i,price in enumerate(prices):
    if i % 2 != 0:
        all_price.append(price.getText().replace('/year', ''))

In [48]:
all_price

['8,000,000',
 '12,000,000',
 '2,000,000',
 '3,500,000',
 '13,000,000',
 '5,000,000',
 '3,000,000',
 '700,000',
 '1,200,000',
 '38,800,000',
 '1,200,000',
 '1,500,000',
 '120,000',
 '150,000',
 '120,000',
 '3,500,000',
 '1,000,000',
 '850,000',
 '500,000',
 '5,000,000',
 '5,000,000']

In [49]:
len(all_price)

21

# House Types and House Status

In [50]:
#storing the features

titles = soup.select('.single-room-text > a > h2')

In [51]:
#confirming the length of titles features

len(titles)

21

In [52]:
titles[5]

In [54]:
#fixing all bedrooms and description into a list

all_type = []
all_status = []

for i in titles:
    title_split = i.get_text().split()
    types = title_split[2:4]
    status = title_split[-1]
    f_house = ' '.join(types)
    all_type.append((f_house).replace('/', ''))
    all_status.append(status)

In [56]:
all_type

['FLAT ',
 'FLAT ',
 'FLAT ',
 'FLAT ',
 'TERRACED DUPLEX',
 'HOUSE FOR',
 'FLAT ',
 'MINI FLAT',
 'BLOCKS OF',
 'SEMI DETACHED',
 'FLAT ',
 'FLAT ',
 'FLAT ',
 'FLAT ',
 'FLAT ',
 'DETACHED DUPLEX',
 'FLAT ',
 'FLAT ',
 'MINI FLAT',
 'DETACHED DUPLEX',
 'DETACHED DUPLEX']

In [58]:
#confirming the length of description features

len(all_type)

21

In [59]:
all_status

['RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'SALE',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT',
 'RENT']

In [60]:
#confirming the house status

len(all_status)

21

In [61]:
#creating a function to be able to return all list generated

def all_data(url):
    r = requests.get (url, headers=headers)
    soup = BeautifulSoup(r.text,'html.parser')
    
    
    locations = soup.select('.single-room-text > h4')
    all_location = []
    for i in locations:
        location = i.get_text().split()
        location = location[-2]
        location = location.replace(',', '')
        all_location.append(location)
        
    
    facilities = soup.select('.fur-areea > span')
    all_bedroom = []
    all_bathroom = []
    all_toilet = []
    
    for i, a in enumerate(facilities):
        if i in range(2,63,3):
            a = a.get_text().split()
            toilet = a[0]
            all_toilet.append(toilet)
        elif i in range(1,63,3):
            a = a.get_text().split()
            bathroom = a[0]
            all_bathroom.append(bathroom)
        elif i in range (0,63,3):
            a = a.get_text().split()
            bedroom = a[0]
            all_bedroom.append(bedroom)
    
    
    prices = soup.select('.n50 > h3 > span')
    all_price = []
    for i,price in enumerate(prices):
        if i % 2 != 0:
            all_price.append(price.getText().replace('/year', ''))
    
    
    
    titles = soup.select('.single-room-text > a > h2')
    all_type = []
    all_status = []
    for i in titles:
        title_split = i.get_text().split()
        types = title_split[2:4]
        status = title_split[-1]
        f_house = ' '.join(types)
        all_type.append((f_house).replace('/', ''))
        all_status.append(status)
    
    

    return (all_location, all_bedroom, all_bathroom, all_toilet, all_price, all_type, all_status)

In [62]:
#crawls all the pages on the website from page 1 to 100

urls = [url]
for i in range(1,400):
    all_url = url + '?page=' + str(i)
    urls.append(all_url)

In [63]:
urls[264]

'https://www.propertypro.ng/property-for-rent/in/lagos?page=264'

In [71]:
master_location = []
master_bedroom = []
master_bathroom = []
master_toilet = []
master_price = []
master_type = []
master_status = []

for all_url in urls:
    all_location, all_bedroom, all_bathroom, all_toilet, all_price, all_type, all_status = all_data(all_url)
    
    master_location += all_location
    master_bedroom += all_bedroom
    master_bathroom += all_bathroom
    master_toilet += all_toilet
    master_price += all_price
    master_type += all_type
    master_status += all_status
    
    time.sleep(20)

In [72]:
#confirming the length of each list of attributes created

len(master_bedroom)

8400

In [73]:
len(master_bathroom)

8400

In [74]:
len(master_toilet)

8400

In [75]:
len(master_location)

8400

In [76]:
len(master_status)

8400

In [81]:
# create a data frame from the list of dictionaries

house_rent = pd.DataFrame ({"house-types": master_type,
                            "location": master_location,
                            "bedrooms": master_bedroom,
                            "bathrooms": master_bathroom,
                            "toilets": master_toilet,
                            "price": master_price,
                            "rent / sale": master_status
                           })

In [82]:
#converting dataframe to CSV

house_rent.to_csv("house_rent.csv")

In [85]:
house_to_rent = pd.read_csv('house_rent.csv')

In [86]:
house_to_rent

,Unnamed: 0,house-types,location,bedrooms,bathrooms,toilets,price,rent / sale
0,0,FLAT,Island,3,3,4,"8,000,000",RENT
1,1,FLAT,Ikoyi,3,3,4,"12,000,000",RENT
2,2,FLAT,Ikeja,3,3,4,"2,000,000",RENT
3,3,FLAT,Lekki,3,3,4,"3,500,000",RENT
4,4,TERRACED DUPLEX,Ikoyi,4,4,5,"13,000,000",RENT
...,...,...,...,...,...,...,...,...
8395,8395,MINI FLAT,Lekki,1,1,2,"1,500,000",RENT
8396,8396,FLAT,Odofin,2,2,3,"800,000",RENT
8397,8397,FLAT,Gbagada,3,3,3,"1,400,000",RENT
8398,8398,STUDIO APARTMENT,Island,3,3,4,"3,500,000",RENT
8399,8399,TERRACED DUPLEX,Ikoyi,3,3,4,"16,000,000",RENT